<!DOCTYPE html>
<html>
<head>
    <meta content="" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/angular.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
